* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  :root {
    --bg-color: #212529;
    --border-color: #666;
    --font-color: #f1f5f9;
  }
  
  body {
    background-color: var(--bg-color);
    color: var(--font-color);
    font-family: "Ubuntu", sans-serif;
  }

  header{
    text-align: center;
    margin-bottom: 1em;
  }

  .ganhou{
    color: red;
    font-weight: bold;
    background-color: #c9c9c9;
    position: relative; 
  }

  /*Divide em 3 colunas com largura igual*/
  .div3col{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Divide em 3 colunas com largura igual */
    gap: 10px; 
  }

  /*Corpo do jogo*/
  #tabelaJogo{
      margin: auto;
      position: relative; 
  }

  .opcao {
      width: 5em;
      height: 5em;
      font-size: 2em;
  }

  /*Dados jogador*/
  #dadosJogadores{
    left: 40px;
    position: relative;
    top: 20%;
  }

  /*Area botoes*/
  #botoes{
    text-align: center;
  }

  .buttonAcoes{
    font-size: 1em;
    padding: 0.8em 1.5em;
    margin: 1em;
  }


  /*Abaixo CSS para as linhas da vitória*/
  .ganhou::after{
    content: ""; /* Criando um elemento pseudo ::after */
    position: absolute; /* Posicionamento absoluto em relação ao elemento pai */
    background-color: black; 
  }
  .ganhouHorizontal::after {
    bottom: 50%; 
    left: 0;
    width: 100%; 
    height: 2px; 
  }
  .ganhouVertical::after {
    top: 0; 
    left: 50%;
    transform: translateX(-50%); /* Corrigindo a posição para centralizar */
    width: 2px; 
    height: 100%; 
    }
    .ganhouDiagonal1::after {
      content: ""; /* Criando um elemento pseudo ::after */
      position: absolute; 
      background-color: black; 
      top: 49.5%; 
      left: -92px; /* Posicionando no meio horizontal do elemento pai */
      width: 138%; 
      height: 2px;
      background-color: black; 
      transform: translateY(-50%) rotate(45deg); /* Rotaciona a linha para criar uma diagonal */
  }
  .ganhouDiagonal2::after {
    content: "";
    position: absolute; 
    background-color: black;
    top: 49.5%; 
    left: -92px; /* Posicionando no meio horizontal do elemento pai */
    width: 138%; 
    height: 2px; 
    background-color: black;
    transform: translateY(-50%) rotate(-45deg); /* Rotaciona a linha para criar uma diagonal */
}